Day 22/Pong/.idea
Day 22/Pong/__pycache__
Day 32/EmailTemplate/creds.json
Day 40/FlightClub/creds.json
Day 81/MorseCode/.idea
Day 81/MorseCode/__pycache__
Day 83/TicTacToe/.idea
Day 83/TicTacToe/__pycache__
Day 84/Watermark/.idea
Day 84/Watermark/__pycache__
Day 85/TypingSpeedTest/.idea
Day 85/TypingSpeedTest/__pycache__
Day 86/Breakout/.idea
Day 86/Breakout/__pycache__
Day 89/DisapearingText/.idea
Day 90/PDFtoSpeech/.idea
Day 90/PDFtoSpeech/creds.json
Day 91/ColorExtractor/.idea
API_KEYS.txt