{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if edit %}
                <h1>Edit Post</h1>
            {% else %}
                <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% if edit %}
          <form action="{{ url_for('edit_post', post_id=index) }}" method="POST" novalidate>
        {% else %}
          <form action="{{ url_for('add') }}" method="POST" novalidate>
        {% endif %}
            {{ form.csrf_token }}
            <p>
                {{ form.title.label }} <br> {{ form.title() }}
                {% for err in form.title.errors %}
				    <span style="color: red"> {{ err }}</span>
			    {% endfor %}
            </p>
            <p>
                {{ form.subtitle.label }} <br> {{ form.subtitle() }}
                {% for err in form.subtitle.errors %}
				    <span style="color: red"> {{ err }}</span>
			    {% endfor %}
            </p>
            <p>
                {{ form.img_url.label }} <br> {{ form.img_url() }}
                {% for err in form.img_url.errors %}
				    <span style="color: red"> {{ err }}</span>
			    {% endfor %}
            </p>
            <p>
                {{ form.body.label }} <br> {{ form.body() }}
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='body') }}
            </p>
                {{ form.submit }}
          </form>
      </div>
    </div>
  </div>

<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

{% include "footer.html" %}
{% endblock %}