{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

            <table class="table">
                <thead>
                <tr>
                    {% for item in cafes[0] %}
                        <th scope="col">{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in cafes[1:] %}
                <tr>
                    {% set i = 0 %}
                    {% for element in row %}
                        {% if loop.index == 2 %}
                            <td><a href="{{ element }}">Maps Link</a></td>
                        {% else %}
                            <td>{{ element }}</td>
                        {% endif %}
                        {% set i = loop.index %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="{{ url_for('home') }}">Return to index page</a></p>

        </div>
    </div>
</div>
{% endblock %}
